html{
    height:100%
}
.container-fluid {
    padding-right: 0px;;
    padding-left: 0px;
}
body{
    height:100%;
    font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4 {
    font-family: 'Tauri', sans-serif;
}
h1 {
    color: white;
}

.logo {
    position: absolute;
    background-color: white;
    margin-left: 25px;
}
h2 {
    font-size: 38pt; 
}
h3 {
    font-size: 25pt;
}
h4 {
    font-size: 24px;
}
p {
    font-size: 18pt;
}
/* #################### HEADER #################### */
/*** MENU HEADER ***/
/* Ajouter une bordure autour du logo */
a.logo img{
    border: 5px solid white;
    -webkit-box-shadow:0px 3px 1px 0px #ffffff ,0px 7px 9px 0px #9a9a9a ;
    -moz-box-shadow:0px 3px 1px 0px #ffffff ,0px 7px 9px 0px #9a9a9a ;
    box-shadow:0px 3px 1px 0px #ffffff ,0px 7px 9px 0px #9a9a9a ;
}
ul.contact{ 
    height:40px;
    padding-top: 10px;
            
}
.menu-contact {
    background-color: white;
    padding-right: 40px;
}
.contact.nav>li {
    margin-left: 40px;
}
.contact>li>a { 
    margin: 0px 0px; 
    padding:0px; 
    font-size:9pt;
    font-family: 'Tauri', sans-serif;
    text-transform: uppercase;
}
.principal {
    padding-right: 20px;
    background:#ee3a43;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #ee3a43;
}

#bs-example-navbar-collapse-1 {
    height: 80px!important;
}
.menu-principal>li>a { margin: 0px 0px; 
    padding-top: 30px; 
    font-size:12pt;
    font-family: 'Tauri', sans-serif;
    text-transform: uppercase;
    height: 80px; 
    width: 100%;
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
}
.navbar-default .navbar-nav.menu-principal>li>a { 
    color: white;
}

.nav.menu-principal>li>a:hover { 
    background-color: #c6262d;
    height: 80px;  
}

/*** MENU DÉROULANT ***/
#menu-deroulant, #menu-deroulant ul {
    list-style: none;
    text-transform: uppercase;
    font-family: 'Tauri', sans-serif;
    font-size: 10pt;
    margin-left: 15px;
}
.lien-1 {
    margin-top: 40px;
    padding-bottom: 20px;
    margin-left: 20px;
}
.lien-2 {
    margin-bottom: 40px;
    margin-left: 20px;
}
a.a-1 {
    margin-right: 10%;
}
a.a-2 {
    margin-right: 10.75%;
}
#menu-deroulant ul {
    position: absolute;
/* on cache les sous menus complètement sur la gauche */
    left: -999em;
    text-align: left;
    z-index: 1000;
}
#menu-deroulant li:hover ul {
/* Au survol des li du menu on replace les sous menus */
    left: auto;
    background-color:rgba(198, 38, 45, 0.7); 
    width: 1850%;
}
#deroule a{
    color:#ffffff;
}
#deroule a:hover {
    color: #455560;
}
.navbar {
    border:none;
}
li.onglet-1 {

}
/* #################### SLIDER #################### */
.slider {
    padding-top: 100px;
}
.image-1 {
    position: relative;
}
.image-1 p {
    padding-bottom: 25px;
}
.carousel-caption {
    text-align: left;
    left: 12%;
    padding-bottom: 50px;
}
.carousel-caption h2 {
    text-transform: uppercase;
}
.slider p.savoir-plus{
    color: #ee3a43; 
}
img.un {
    width: 100%;
}
 /* #################### SECTION ÉVÉNEMENT #################### */
 .evenement {
     min-height: 500px;
     background-color: #999999;
     color: white;
 }
.texte {
     padding-top: 75px;
     padding-left: 40px;
}
.image {
     padding-top: 50px;
     padding-left: 40px;
}
.evenement h3 {
    padding-bottom: 50px;
}
p.inscription2 {
    padding-top: 30px;
    color: #ee3a43;
}
p.inscription {
    padding-top: 15px;
    color: #ee3a43;
}
p.inscription2:hover, p.inscription:hover {
    color: #3e3d3d;
}
.image .ruban {
    color: #fff;
    background: #ee3a43;
    position: absolute;
    top: 20%;
    width: 50%;
    padding: 10px 15px ;
    font-size: 15pt;
}
/* #################### SECTION PUBLICATION ET BLOGUE #################### */
.publication,.blogue {
    min-height: 825px;
}
.titre {
    padding-top: 55px;
    padding-left: 100px;
}
.blogue .image, .publication .image {
    padding-left: 100px;
}
.blogue h2, .publication h2 {
    padding-bottom: 25px;
    padding-top: 0px;
}
.texte span {
    text-transform: uppercase;
}
.publication .texte, .blogue .texte {
    padding-top: 25px;
}
.publication a, .blogue a {
    display:inline-block;   
}
.publication a p.lien, .blogue a p.lien {
    padding-right: 280px;   
    color: #ee3a43;
    padding-top: 50px;
}
.publication p.lien:hover, .blogue p.lien:hover {  
    color: #3e3d3d;
}
.blogue .image {
    padding-bottom: 55px;
}
/* #################### DEVENIR MEMBRE #################### */
img.fond {
    position: absolute;
    width: 100%;
}
.devenir-membre {
    min-height: 500px;
}
.devenir-membre h2 {
    color: white;
    padding-top: 100px;
    text-align: right;
}
a.bouton {
    background-color: #ee3a43;
    position: absolute;
    width: 740px;
    text-align: center;
    color: white;
}
a.bouton:hover {
    color: #3e3d3d;
}
.gauche {
    margin-left: 125px;
    margin-top: 40px;
}
.droit {
    margin-top: 40px;
    margin-left: 50px;
}
/* #################### PARTENAIRE #################### */
img.partn {
    width: 85%;
    padding-left: 55px;
    padding-top: 50px;
    padding-bottom: 150px;
}
.texte2 {
     padding-top: 25px;
     padding-left: 40px;
}
.texte3 {
     padding-top: 35px;
     padding-left: 20px;
}
.bouton-partn {
    color: #ee3a43;
}
.bouton-partn:hover {
    color: #3e3d3d;
}
/* #################### FOOTER #################### */
/* Stylistique général du footer */
footer #footer-un {
    background: #3e3d3d;
    font-family: 'Tauri', sans-serif;
    padding: 100px 0;
    color: #ffffff;
    overflow:hidden;
}

/* Aligner le texte à droite */
footer #footer-un #footer-nav, footer #footer-un #infolettre, footer #footer-un #reseaux-sociaux{
    text-align: right;
}

/* Espace à gauche du logo */
footer #footer-un #img-footer{
    padding-left: 40px;
}

/* Espace à droite de la section réseaux sociaux */
footer #footer-un #reseaux-sociaux{
    padding-right: 40px;
}

/* Stylistique de la police */
footer #footer-un #reseaux-sociaux h5, 
footer #footer-un #infolettre h5 {
    font-size: 16px;
    margin:0 0 10px 0;
}

footer #footer-un p {
    font-size: 14px;
    margin: 15px 0;
}

/* Section du menu dans le footer */
footer #footer-un #footer-menu {
    margin:0;
    padding:0;
}
footer #footer-un #footer-menu li {
    display: block;
    font-size: 16px;
    margin: 0 0 15px 0;
}

/* Stylistique des liens */
footer #footer-un #footer-menu li a, 
footer #footer-un #social li a{
    text-decoration: none;
    color: #ffffff;
}

/* Couleur de la page en cours */
footer #footer-un #footer-menu .current a{
    color: #ee3a43;
}

/* Hover des éléments du footer */
footer #footer-un #footer-menu li a:hover, 
footer #footer-un #social li a:hover{
    color: #ee3a43;
}

/* Espace entre les icones des réseaux sociaux */
footer #footer-un #social li {
    display: inline-block;
    font-size: 18px;
    margin: 5px 0 0 5px;
}

/* Infolettre */
#form-infolettre input[type="email"]{
    color: #3e3d3d;
    text-align: right;
    padding: 5px 5px 5px 0px;
    width: 60%;
    outline: transparent;
}
#form-infolettre input[type="submit"]{
    background-color:transparent;
    margin: 10px 0 0 0;
    padding:0;
    outline: transparent;
    border: none;
}
#form-infolettre input[type="submit"]:hover{
  color: #ee3a43;
}

/* Footer partie du copyright */
footer #footer-deux{
    background-color: #ffffff;
    overflow:hidden;
}
footer #footer-deux h5 {
    color: #3e3d3d;
    font-size: 12px;
    text-align: right;
    padding-right: 25px;
    margin: 20px 0;
}
 /* #################### RESPONSIVE #################### */
/* X-Small device */
@media (max-width: 767px){
    /* #################### LOGO #################### */
    a.logo img {
        background-color: white;
        width: 50%;
        margin-top: -50px;
    }
    .logo {
        background: none;
    }
    /* #################### MENU #################### */
    .navbar-default .navbar-toggle:focus{
        background-color:transparent;
    }
    .burger {
        margin-top: 0px;
        background-color: #ee3a43;
    }
    .enleve-border {
        min-height: 0px;
    }
    .navbar-header {
        padding-right: 25px;
    }
    .principal {
        background-color: #c6262d;
    }
    #ccis{
        margin-top: 50px;
    }
    .navbar-default .navbar-nav.menu-principal>li>a:hover {
        color: #3e3d3d;
        background:transparent;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border: none;
    }
    .navbar-default {
        background: none;
    }
    #bs-example-navbar-collapse-1 {
        height: auto!important;
    }
    .enleve-padding {
        padding-right: 0px;
    }
    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
        max-height:none;
    }
    .menu-principal>li>a { 
        font-size:9pt;
        margin: 0;
        padding:0;
        text-align: center;
        height: 30px;
    }

    .nav>li>a {
        display: initial;
    }
    #bs-example-navbar-collapse-1{
        text-align:center;
        padding: 80px;
    }

    #bs-example-navbar-collapse-1 #menu-deroulant li{
        padding: 10px 0;
    }
    #menu-deroulant li:hover ul {
    left: auto;
    background-color: rgba(198, 38, 45, 0.7);
    width: 200%;
    margin-left: -89px;
    text-align: center;
    font-size: 8pt;
    }
    /*#menu-deroulant li ul {
    left: auto;
    background-color: rgba(198, 38, 45, 0.7);
    width: 200%;
    position: relative;
    margin-left: -80px;
    text-align: center;
    font-size: 8pt;
    }*/
    li.onglet-1:hover {
    margin-bottom: 195px;
}
    a.a-1 {
    margin-right: 0%;
    display: block;
    margin-bottom: 20px;
    }
    a.a-2 {
    margin-right: 0%;
    margin-bottom: 20px;
    display: block;
    }
    .lien-1 {
    margin-top: 20px;
    padding-bottom: 0px;
    margin-left: 15px;
    }
    #menu-deroulant, #menu-deroulant ul {
        margin-left:1px;
    }
    /* #################### PAGE À PROPOS #################### */
    /* Titre de la page */
    #presentation-chambre h3{
        padding-top: 80px;
    }
    #presentation-chambre div.devenezmembre{
        margin-bottom: 75px;
    }

    /* #################### FOOTER #################### */
    /* Aligner les textes au centre */
    footer #footer-un, 
    footer #footer-un #footer-nav, 
    footer #footer-un #infolettre, 
    footer #footer-un #reseaux-sociaux{
        text-align: center;
    }
    /* Enlever les espaces de trop à droite et à gauche */
    footer #footer-un #img-footer, footer #footer-un #reseaux-sociaux{
        padding: 0;
    }
    footer #footer-un #footer-menu, footer #footer-un #infolettre, footer #footer-un #reseaux-sociaux {
        margin-top: 40px;
    }
    /* Centrer les icones des réseaux sociaux */
    footer #footer-un #reseaux-sociaux ul#social{
        margin:0;
        padding:0;
    }
    footer #footer-un #reseaux-sociaux ul#social li{
        margin: 0 5px 0 0;
    }
    /* Copyright à center */
    footer #footer-deux h5 {
        text-align: center;
        padding-right: 0;
    }
    /* Infolettre à centrer */
    #form-infolettre input[type="email"]{
        padding: 5px 0px 5px 0px;
        text-align: center;
        width: 50%;
    }
    #menu-deroulant ul {
        
    }
    /* Stylistique de la police */
    footer #footer-un #reseaux-sociaux h5, 
    footer #footer-un #infolettre h5,
    footer #footer-un #footer-menu li,
    #form-infolettre input[type="email"],
    #form-infolettre input[type="submit"] {
        font-size: 9pt;
    }
    footer #footer-un p {
        font-size: 8pt;
    }
    
}

/* Small device */
@media screen and (min-width: 768px) and (max-width: 992px){
    /* #################### Menu #################### */
    .contact>li>a { 
        font-size:6pt;
    }
    .menu-principal>li>a {
        font-size:7pt;
        width: 100%;
        text-align: center;
        padding-left: 16px;
        padding-right: 16px;
    }
    #menu-deroulant, #menu-deroulant ul {
        font-size: 7pt;
    }
    a.logo img {
        width: 120%;
        background-color: white;
    }
    .lien-1 {
        margin-left: -20px;
    }
    .lien-2 {
        margin-left: -20px;
    }
    a.a-2 {
        margin-right: 11.4%;
    }

    /* #################### PAGE À PROPOS #################### */
    #presentation-chambre div.devenezmembre{
        margin-bottom: 200px;
    }

    /* #################### FOOTER #################### */
    /* Infolettre */
    #form-infolettre input[type="email"]{
        width: 90%;
    }
    /* Stylistique de la police */
    footer #footer-un #reseaux-sociaux h5, 
    footer #footer-un #infolettre h5,
    footer #footer-un #footer-menu li,
    #form-infolettre input[type="email"],
    #form-infolettre input[type="submit"] {
        font-size: 7pt;
    }
    footer #footer-un p {
        font-size: 6pt;
    }
}

/* Medium device */
@media screen and (min-width: 992px) and (max-width: 1200px){
    /* #################### Menu #################### */
    .contact>li>a { 
        font-size:7pt;
    }
    .menu-principal>li>a {
        font-size:7pt;
        width: 100%;
        text-align: center;
        padding-left: 25px;
        padding-right: 25px;
    }
    a.logo img {
        width: 120%;
        background-color: white;
    }
     .contact>li>a { 
        font-size:7pt;
    }

    #menu-deroulant, #menu-deroulant ul {
        font-size: 7pt;
        margin-right: -20px;
    }
    a.logo img {
        width: 120%;
        background-color: white;
    }
    .lien-1 {
        margin-left: -16px;
    }
    .lien-2 {
        margin-left: -16px;
    }
    a.a-2 {
        margin-right: 11.1%;
    }
    /* #################### Footer #################### */
    /* Stylistique de la police */
    footer #footer-un #reseaux-sociaux h5, 
    footer #footer-un #infolettre h5,
    footer #footer-un #footer-menu li,
    #form-infolettre input[type="email"],
    #form-infolettre input[type="submit"] {
        font-size: 7pt;
    }
    footer #footer-un p {
        font-size: 7pt;
    }
}
/* Large device */
@media screen and (min-width: 1201px) and (max-width: 1600px)  {
    /* #################### Menu #################### */
    .menu-principal>li>a {
         font-size: 10pt;  
         width: 100%;
         text-align: center;
         padding-left: 30px;
         padding-right: 30px;
    }
    .lien-1 {
        margin-left: -10px;
    }
    .lien-2 {
        margin-left: -10px;
    }
    a.a-2 {
        margin-right: 10.85%;
    }
    #menu-deroulant, #menu-deroulant ul {
        font-size: 7pt;
        margin-right: -27px;
    }
    /* #################### Footer #################### */
    /* Stylistique de la police */
    footer #footer-un #reseaux-sociaux h5, 
    footer #footer-un #infolettre h5,
    footer #footer-un #footer-menu li {
        font-size: 10pt;
    }
}
/* X-Large device */
@media screen and (min-width: 1601px) and ( max-width: 1701px ) {
    /* #################### Menu #################### */
    .menu-principal>li>a {
        font-size: 10pt;
        width: 100%;
        text-align: center;
        padding-left: 50px;
        padding-right: 50px;
    }
    .lien-1 {
        margin-left: 10px;
    }
    .lien-2 {
        margin-left: 10px;
    }
    a.a-2 {
        margin-right: 10.8%;
    }
    #menu-deroulant, #menu-deroulant ul {
        font-size: 9pt;
        margin-right: -50px;
    }
}
/* XX-Large device */
@media screen and (min-width: 1702px) and ( max-width: 4000px) {
    /* #################### Menu #################### */
    .menu-principal>li>a {
        font-size: 11pt;
        width: 100%;
        text-align: center;
        padding-left: 50px;
        padding-right: 50px;
    }
    .lien-1 {
        margin-left: 10px;
    }
    .lien-2 {
        margin-left: 10px;
    }
    a.a-2 {
        margin-right: 10.8%;
    }
    #menu-deroulant, #menu-deroulant ul {
        font-size: 9pt;
        margin-right: -50px;
    }
    #loupe{
        margin-right:20px;
    }
}