html{
    height:100%
}
.container-fluid {
    padding-right: 0px;;
    padding-left: 0px;
}
body{
    height:100%;
    font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4 {
    font-family: 'Tauri', sans-serif;
}
h2 {font-size: 48pt;
    
}
h3 {font-size: 44pt;
    
}
h4 {font-size: 24px;
    
}

p {font-size: 18px;
}
.logo {
    position: absolute;
    background-color: white;
    margin-left: 25px;
}
/* #################### HEADER #################### */
/*** MENU HEADER ***/
ul.contact{ height:40px;
            padding-top: 10px;
            
}
.menu-contact {
    background-color: white;
    padding-right: 40px;
}
.contact.nav>li {
    margin-left: 40px;
}
.contact>li>a { margin: 0px 0px; 
                padding:0px; 
                font-size:9pt;
                font-family: 'Tauri', sans-serif;
                text-transform: uppercase;
}
.principal {
    padding-right: 20px;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #ee3a43;
}

.principal{ background:#ee3a43;
    
}
#bs-example-navbar-collapse-1 {
    height: 80px!important;
}
.menu-principal>li>a { margin: 0px 0px; 
                    padding-top: 30px; 
                    font-size:12pt;
                    font-family: 'Tauri', sans-serif;
                    text-transform: uppercase;
}
.navbar-default .navbar-nav.menu-principal>li>a { 
                    color: white;
}
.menu-principal.nav>li {
    padding-left: 101px;
}
.nav.menu-principal>li>a:hover { 
                 background-color: #c6262d;
                 height: 80px;  
}
/*** MENU DÉROULANT ***/
.sf-menu li {
	position: relative;
}
.sf-menu ul a {
    padding-left: 35px;
    padding-top: 30px;
}
.sf-menu ul {
	position: absolute;  
    padding-left: 0px;
    width: 2000px; 
    list-style: none;
}
.sf-menu ul.rangee2 {
	position: absolute;  
    margin-left: 500px;
    background-color: #c6262d;
}
.sf-menu a {
    display: block;
	position: relative;
	background-color: #c6262d;
	color: white;
	height: 80px;
    text-decoration: none;
}
.navbar-default .navbar-nav>.active>a {
    background: none;
}
.navbar-default .navbar-nav>.active>a:hover {
    background-color: #c6262d;
    color: white;
}

/* #################### FOOTER #################### */
/* Stylistique général du footer */

footer #footer-un {
    background: #3e3d3d;
    font-family: 'Tauri', sans-serif;
    padding: 100px 0;
    color: #ffffff;
    overflow:hidden;
}

/* Aligner le texte à droite */
footer #footer-un #footer-nav, footer #footer-un #infolettre, footer #footer-un #reseaux-sociaux{
    text-align: right;
}

/* Espace à gauche du logo */
footer #footer-un #img-footer{
    padding-left: 25px;
}

/* Espace à droite de la section réseaux sociaux */
footer #footer-un #reseaux-sociaux{
    padding-right: 25px;
}

/* Stylistique de la police */
footer #footer-un #reseaux-sociaux h5, 
footer #footer-un #infolettre h5 {
    font-size: 16px;
    margin:0 0 10px 0;
}

footer #footer-un p {
    font-size: 14px;
    margin: 15px 0;
}

/* Section du menu dans le footer */
footer #footer-un #footer-menu {
    margin:0;
    padding:0;
}
footer #footer-un #footer-menu li {
    display: block;
    font-size: 16px;
    margin: 0 0 15px 0;
}

/* Stylistique des liens */
footer #footer-un #footer-menu li a, 
footer #footer-un #social li a{
    text-decoration: none;
    color: #ffffff;
}

/* Couleur de la page en cours */
footer #footer-un #footer-menu .current a{
    color: #ee3a43;
}

/* Hover des éléments du footer */
footer #footer-un #footer-menu li a:hover, 
footer #footer-un #social li a:hover{
    color: #ee3a43;
}

/* Espace entre les icones des réseaux sociaux */
footer #footer-un #social li {
    display: inline-block;
    font-size: 18px;
    margin: 5px 0 0 5px;
}

/* Infolettre */
#form-infolettre input[type="email"]{
    color: #3e3d3d;
    text-align: right;
    padding: 5px 5px 5px 0px;
    width: 60%;
    outline: transparent;
}
#form-infolettre input[type="submit"]{
    background-color:transparent;
    margin: 10px 0 0 0;
    padding:0;
    outline: transparent;
    border: none;
}
#form-infolettre input[type="submit"]:hover{
  color: #ee3a43;
}

/* Footer partie du copyright */
footer #footer-deux{
    background-color: #ffffff;
    overflow:hidden;
}
footer #footer-deux h5 {
    color: #3e3d3d;
    font-size: 12px;
    text-align: right;
    padding-right: 10px;
    margin: 20px 0;
}

/* #################### ADAPTATION MOBILE ####################*/
/* X-Small device */
@media (max-width: 768px){
    /* #################### FOOTER #################### */
    /* Aligner les textes au centre */
    footer #footer-un, 
    footer #footer-un #footer-nav, 
    footer #footer-un #infolettre, 
    footer #footer-un #reseaux-sociaux{
        text-align: center;
    }
    /* Enlever les espaces de trop à droite et à gauche */
    footer #footer-un #img-footer, footer #footer-un #reseaux-sociaux{
        padding: 0;
    }
    footer #footer-un #footer-menu, footer #footer-un #infolettre, footer #footer-un #reseaux-sociaux {
       margin-top: 40px;
    }
    /* Centrer les icones des réseaux sociaux */
    footer #footer-un #reseaux-sociaux ul#social{
        margin:0;
        padding:0;
    }
    footer #footer-un #reseaux-sociaux ul#social li{
        margin: 0 5px 0 0;
    }
    /* Copyright à center */
    footer #footer-deux h5 {
        text-align: center;
        padding-right: 0;
    }
    /* Infolettre à centrer */
    #form-infolettre input[type="email"]{
        padding: 5px 0px 5px 0px;
        text-align: center;
        width: 50%;
    }
}

/* Small device */
@media screen and (min-width: 768px) and (max-width: 992px){
    /* #################### FOOTER #################### */
    /* Infolettre */
    #form-infolettre input[type="email"]{
        width: 90%;
    }

}

/* Medium device */
@media screen and (min-width: 992px) and (max-width: 1200px){

}