html{
    height:100%
}
.container-fluid {
    padding-right: 0px;;
    padding-left: 0px;
}
body{
    height:100%;
    font-family: 'Lato', sans-serif;
    color: white;
}
h1, h2, h3, h4 {
    font-family: 'Tauri', sans-serif;
}
h2 {font-size: 48pt;
    
}
h3 {font-size: 44pt;
    
}
h4 {font-size: 36pt;
    
}
p {font-size: 30pt;
}
/* MENU HEADER */
ul.contact{ height:40px;
            padding-top: 10px;
            
}
.contact.nav>li {
    padding-right: 20px;
}
.navbar-right {
    margin-right: 30px;
}
.principal{ background:#ee3a43;
    
}
#bs-example-navbar-collapse-1 {
    height: 80px!important;
}
.contact>li>a { margin: 0px 0px; 
                padding:0px; 
                font-size:9pt;
                font-family: 'Tauri', sans-serif;
                text-transform: uppercase;
}
.menu-principal>li>a { margin: 0px 0px; 
                    padding-top: 30px; 
                    font-size:12pt;
                    font-family: 'Tauri', sans-serif;
                    text-transform: uppercase;
}
.navbar-default .navbar-nav.menu-principal>li>a { 
                    color: white;
}
.menu-principal.nav>li {
    padding-left: 80px;
}
.nav.menu-principal>li>a:hover { 
                 background-color: #c6262d;
                 height: 80px;  
}