/*** TOUTES LES PAGES DE LA CCIS ***/
/* Titre de la page - À propos */
#presentation-chambre h3{
    margin-top: 50px;
}

/* Image d'arrière-plan */
div.background-image{
    margin-top: 120px;
}

/* Espace à gauche du GoogleMaps */
#presentation-chambre iframe{
    margin: 20px 0px 20px 0px;
    padding:0;
}

/* Grandeur du background de la sidebar page présentation de la chambre */
#presentation-chambre aside{
    min-height: 1700px;
    max-height: 4000px;
}

/* Grandeur du background de la sidebar page comites organisation de la chambre */
#presentation-chambre.comites aside{
    min-height: 1900px;
}

/* Grandeur du background de la sidebar page implications */
#presentation-chambre.implications aside{
    min-height: 850px;
}

/* Grandeur du background de la sidebar page ca */
#presentation-chambre.ca aside{
    min-height: 3000px;
}

/* Style des liens de la page comités */
#presentation-chambre.comites a{
    color: #333;
}
#presentation-chambre.comites a:hover{
    color: #ee3a43;
}
/* Style des liens de la page espace-membre */
#presentation-chambre.espace-membre #margedroite > ul > li > a{
    text-decoration: none;
    color: #333;
}
#presentation-chambre.espace-membre #margedroite > ul > li > a:hover{
    color: #ee3a43;
}

/* Liens dans la sidebar */
#presentation-chambre #sousnav a{
    background-color: transparent;
    color:#455560;
    padding: 15px 40px 15px 0px;
    border-bottom: 1px solid #455560;
}

/* Liens dans la sidebar */
#presentation-chambre #sousnav a:hover{
    background-color: #ee3a43;
    color:#ffffff;
}

#presentation-chambre #sousnav{
    padding:0;
}
/* Ajout d'un espace à droite et à gauche du contenu */
#margedroite{
    padding-right: 25px;
    margin-bottom: 50px;
}
#presentation-chambre{
    margin-left: 15px;
}

/* Enlever la scroll bar horizontal */
#presentation-chambre{
    overflow:hidden;
}

/* Mettre le texte en gras */
#presentation-chambre p.gras, #presentation-chambre h5.gras{
    font-weight: bold;
}

/* Espace en haut des sections du texte */
#presentation-chambre h4.espaceenahut{
    margin-top: 40px;
}

/* Espace en haut du bouton : En savoir plus */
#presentation-chambre p.espacebas{
    margin-bottom: 30px;
}

/* Bouton en savoir plus */
#presentation-chambre a#moreinfo {
    background-color: #ee3a43;
    color: #ffffff;
    padding: 10px 50px;
    margin-bottom: 50px;
}

#presentation-chambre h5.format {
    font-size: 17px;
    font-weight: bold;
    padding-top: 15px
}

#presentation-chambre h5.formatdeux {
    font-size: 15px;
    margin-bottom: 20px;
}
#presentation-chambre p a{
    color: #ee3a43;
}