h5 {
    font-family: 'Tauri', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}

footer {
    background: #3e3d3d;
    color: #fff;
    padding: 100px 0;
}

footer p {
    font-size: 14px;
    margin: 15px 0;
}

footer ul {
    font-family: 'Tauri', sans-serif;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

footer #footer-menu li {
    display: block;
    font-size: 16px;
    margin: 15px 0;
}

footer #footer-menu li a{
    text-decoration: none;
    color: #fff;
}

footer #footer-menu .current a{
    text-decoration: none;
    color: #ee3a43;
}

footer #footer-menu li a:hover{
    color: #ee3a43;
}

footer #social li {
    display: inline-block;
    font-size: 18px;
    margin: 5px 10px;
}

