/* #################### PUBLICATIONS ET BLOGUE #################### */
#blog h6 {
    color: #455560;
}
/* Retire style par défauts des liens */
a:hover {
    text-decoration: none;
}
/* Header Blogue */
.background-img {
    position: relative;
}
.background-img img {
    background-size: 100%;
    padding-top: 120px; 
}
header h1 {
    left: 0;
    position:absolute;
    text-align:center;
    top: calc(50% + 20px);
    width: 100%
}
/* Correction horizontal Scroll Bar */
#blog .row {
    margin: 0;
}
/* Style des catégories des articles */
#post-type {
    margin-top: 50px;
}
#post-type ul{
    padding: 0;
}
#post-type ul li{
    display: block;
    float: left;
    font-size: 18px;
    width: 20%;
    background: #d5dbdf;
    font-family: 'Tauri', sans-serif;
}
#post-type ul li a{
    display: block;
    color:#000;
    padding: 15px 0;
}
#post-type ul li a.current {
    background: #ee3a43;
    color: #fff;
}
#post-type ul li a:hover{
    color: #fff;
    background: #ee3a43;
}
/* Select pour responsive */
#post-type select {
    margin-top: 145px;
    display: none;
    background: #d5dbdf;
    width: 100%;
    height: 55px;
    font-size: 18px;
    font-family: 'Tauri', sans-serif;
    padding-left: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image:
    linear-gradient(45deg, transparent 50%, #fff 50%),
    linear-gradient(135deg, #fff 50%, transparent 50%),
    linear-gradient(to right, #ee3a43, #ee3a43);
    background-position:
    calc(100% - 27.5px),
    calc(100% - 22.5px),
    100% 0;
    background-size:
    5px 5px,
    5px 5px,
    55px 55px;
    background-repeat: no-repeat;
    border: none;
}
/* Navigation */
.pager {
    margin-top: 50px;
    margin-bottom: 0;
}
.pager li {
    display: block;
    float: left;
    width:12.5%;
}
.pager a {
    font-size: 18px;
    color: #ee3a43;
    padding: 0;
    border: 0!important;
}
.pager a:hover {
    background: #fff!important;
    color: #c6262d;
}
/* Ajout d'un margin entre main et footer */
.pager-bottom {
    margin-bottom: 50px;
}
/* Style des articles */
#blog .article {
    padding: 50px 0;
    border-bottom: 1px #ee3a43 solid;
}
#blog .article a {
    color: #ee3a43;
    font-size: 18px;
}
#blog .article div{
    margin:0;
    padding:0;
}
#blog .article div.infoarticle{
    margin:0;
    padding-left: 20px;
}
/* Postionnement pour img article */
#blog .img-article {
    position: relative;
    overflow: hidden; 
}

#blog .img-article img {
    float:clear;
}

/* Ruban pour display catégories */
.article .ruban {
    color: #fff;
    background: #ee3a43;
    position: absolute;
    top: 10%;
    width: 50%;
    padding: 5px 10px ;
    font-size: 15pt;
}
/* Style pour afficher date */
.date {
    position: absolute;
    bottom: 0;
    right: 0;
}
.square-box{
    position: relative;
    overflow: hidden;
}
.month-box {
    height: 20px;
    width: 85px;
    background: #ee3a43;
    border: 1px #ee3a43 solid;
}
.month-box .fa-circle {
    font-size: 5px;   
}
.day-box {
    height: 65px;
    width: 85px;
    background: #fff;
    border: 1px #ee3a43 solid;
}
.square-box:before{
    content: "";
    display: block;
    padding-top: 100%;
}
.square-content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.month-content {
    color: #fff;
    font-size: 12px;
}
.left-circle {
    position: absolute;
    top: 8px;
    left: 5px;
}
.right-circle {
    position: absolute;
    top: 8px;
    right: 5px;
}
.day-content {
    color: #000;
    font-size: 32px;
}
.square-content div {
   display: table;
   width: 100%;
   height: 100%;
}
.square-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
/* Sidebar */
aside {
    background: #d5dbdf;
    height: 100%;
    display: block;
}
aside h4 {
    font-size: 24px;
}
aside p {
    margin: 20px 0;
}
aside h4 img {
    margin-right: 10px
}
aside a {
    font-size: 16px;
    background: #ee3a43;
    color: #fff;
    width: 100%;
    display: block;
    padding: 10px 0;
}
.sidebar {
    padding: 100px 0;
    border-bottom: 1px #000 solid; 
    height: 100%;
}
@media (max-width: 767px){
    /* #################### PUBLICATIONS ET BLOGUE #################### */
    /* Change la liste des post type */
    #post-type ul li{
        float: none;
        width: 100%;
    }
    /*Remove Sidebar*/
    aside {
        display: none;
    }
    /*Hide liste des catégories*/
    #post-type ul {
        display: none;
    }
    /* Espace en haut de la navigation des pages*/
    ul.margintop{
        margin-top:100px;
    }
    /*Display select box*/
    #post-type select {
        display: block;
    }
    .article h4 {
        margin-top: 50px; 
    }
        /* Style des articles */
    #blog .article div{
        margin:0;
        padding:0;
    }
    #blog .article div.infoarticle{
        margin:0;
        padding-left: 0px;
    }

    
}

/* Small device */
@media screen and (min-width: 768px) and (max-width: 992px){
    /* #################### PUBLICATIONS ET BLOGUE #################### */
    /*Correction fonts*/
    #post-type ul li{
        font-size: 14px;
    }
    header h1 {
        top: calc(50% + 32px);
    }
    .article h4 {
        margin-top: 50px; 
    }
    /* Style des articles */
    #blog .article div{
        margin:0;
        padding:0;
    }
    #blog .article div.infoarticle{
        margin:0;
        padding-left: 0px;
    }
}
    
/* Medium device */
@media screen and (min-width: 992px) and (max-width: 1200px){
    /* #################### PUBLICATIONS ET BLOGUE #################### */
    /*Correction fonts*/
    #post-type ul li{
        font-size: 16px;
    }
    header h1 {
        top: calc(50% + 32px);
    }

}
    
@media screen and (min-width: 1201px) and (max-width: 1600px)  {}
    
/*//////////////////////////// LARGE DESTOPS AMD LAPTOPS /////////////////////////// 1 /*/
@media screen and (min-width: 1601px) and ( max-width: 1701px ) {}
    
/*//////////////////////////// LARGE DESTOPS AMD LAPTOPS /////////////////////////// 1 /*/
@media screen and (min-width: 1702px) and ( max-width: 4000px) {}
    
