html{
    height:100%
}
.container-fluid {
    padding-right: 0px;;
    padding-left: 0px;
}
body{
    height:100%;
    font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4 {
    font-family: 'Tauri', sans-serif;
}
h1 {
    color: #fff;
    text-transform: uppercase;
}
.logo {
    position: absolute;
    background-color: white;
    margin-left: 25px;
}
a:focus {
    text-decoration: none; 
}
/* #################### HEADER #################### */
/*** MENU HEADER ***/
/* Ajouter une bordure autour du logo */
a.logo img{
    border: 5px solid white;
    box-shadow:0px 3px 1px 0px #ffffff ,0px 7px 9px 0px #9a9a9a ;
}
ul.contact{ 
    height:40px;
    padding-top: 10px;
}
.menu-contact {
    background-color: white;
    padding-right: 40px;
}
.contact.nav>li {
    margin-left: 40px;
}
.contact>li>a { 
    margin: 0px 0px; 
    padding:0px; 
    font-size:9pt;
    font-family: 'Tauri', sans-serif;
    text-transform: uppercase;
}
.principal {
    padding-right: 20px;
    background:#ee3a43;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #ee3a43;
}
#bs-example-navbar-collapse-1 {
    height: 80px!important;
}
.menu-principal>li>a { margin: 0px 0px; 
    padding-top: 30px; 
    font-size:12pt;
    font-family: 'Tauri', sans-serif;
    text-transform: uppercase;
    height: 80px; 
    width: 100%;
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
}
.navbar-default .navbar-nav.menu-principal>li>a { 
    color: white;
}
.nav.menu-principal>li>a:hover { 
    background-color: #c6262d;
    height: 80px;  
}
/*** MENU DÉROULANT ***/
#menu-deroulant, #menu-deroulant ul {
    list-style: none;
    text-transform: uppercase;
    font-family: 'Tauri', sans-serif;
    font-size: 10pt;
    margin-left: 15px;
}
#menu-item-34 {
   padding-top: 25px;
}
#menu-item-33 {
    padding-top: 25px;
}
#menu-item-32 {
    padding-left: 15%;
    margin-top: -60px; 
}
#menu-item-60 {
    padding-left: 15%;
    padding-top: 25px;
    padding-bottom: 25px;
}
#menu-deroulant ul {
    position: absolute;
/* on cache les sous menus complètement sur la gauche */
    left: -999em;
    text-align: left;
    z-index: 1000;
}
#menu-deroulant li:hover ul {
/* Au survol des li du menu on replace les sous menus */
    left: auto;
    background-color:rgba(198, 38, 45, 0.7); 
    width: 1850%;
    margin-left:0;
    padding-left: 33%;
}
.sub-menu a{
    color:#ffffff;
}
.sub-menu a:hover {
    color: #455560;
}
.sub-menu {
    display: inline-block;
}
.navbar {
    border:none;
}
/* #################### SLIDER #################### */
.slider {
    padding-top: 50px;
}
.image-1 {
    position: relative;
    background-size: cover;
}
span.background-slider {
    background-color: rgba(18, 18, 14, 0.5);
    padding: 0 5px;
}
.image-1 p {
    padding-bottom: 25px;
}
.tp-loop-wrap {
    text-align: left;
    left: 12%;
    padding-bottom: 100px;
}
ul.post-categories {
    list-style: none;
    padding-left: 0px;
}
ul.post-categories a{
    color: #fff;
    font-size: 20px;
    text-align: left;
}
.slider p.savoir-plus{
    color: #ee3a43; 
    font-size: 20px!important;
}
img.un {
    width: 100%;
}
 /* #################### SECTION ÉVÉNEMENT #################### */
 .evenement {
     min-height: 500px;
     background-color: #999999;
     color: white;
     padding-right: 25px;
     padding-bottom: 50px;
 }
.texte {
     padding-top: 75px;
     padding-left: 40px;
}
.image {
     padding-top: 50px;
     padding-left: 40px;
}
.evenement h3 {
    padding-bottom: 50px;
}
p.inscription2 {
    padding-top: 30px;
    color: #ee3a43;
    font-size: 20px!important;
}
p.inscription {
    padding-top: 15px;
    color: #ee3a43;
    font-size: 20px!important;
}
p.inscription2:hover, p.inscription:hover {
    color: #3e3d3d;
}
.image .ruban {
    color: #fff;
    background: #ee3a43;
    position: absolute;
    top: 20%;
    width: 45%;
    padding: 5px 10px ;
    font-size: 15pt;
}
ul.post-categories {
    margin-bottom: 0px;
}
/* #################### SECTION PUBLICATION ET BLOGUE #################### */
/* Enlever l'apparence des flèches du select */
select{
   -webkit-appearance: none;
   -moz-appearance: none;
}
.titre {
    padding-top: 50px;
}

.texte span {
    text-transform: uppercase;
}
/* #################### DEVENIR MEMBRE #################### */
img.fond {
    position: absolute;
    width: 100%;
}
.devenir-membre {
    min-height: 500px;
}
.devenir-membre h2 {
    color: white;
    padding-top: 100px;
}
a.bouton {
    background-color: #ee3a43;
    width: 540px;
    text-align: center;
    color: white;
}
.second-link {
    margin-left: 50px; 
}
#page-index > div.row > section > div > div > div > div > div.background div{
    background-color: #ee3a43;
    padding: 10px 1px;
    margin: 50px 100px;
}
#page-index > div.row > section > div > div > div > div > div.background div a{
    color: #ffffff;
}
#page-index > div.row > section > div > div > div > div > div.background div:hover{
    background-color: #c6262d;
}
a.bouton:hover {
    color: #3e3d3d;
}
.gauche {
    margin-top: 40px;
}
.droit {
    margin-top: 40px;
}
a.bouton h4 {
    padding-top: 15px;
}
.image-2 {
    position: relative;
    height: 100%;
    width: 100%;
}
/* #################### PARTENAIRES #################### */
.partenaire {
    padding-top: 55px;
}
img.partn {
    width: 85%;
    padding-left: 55px;
    padding-top: 50px;
    padding-bottom: 150px;
}
.texte2 {
     padding-top: 25px;
     padding-left: 40px;
}
.texte3 {
     padding-top: 35px;
     padding-left: 20px;
}
.bouton-partn {
    color: #ee3a43;
}
.bouton-partn:hover {
    color: #3e3d3d;
}
/* #################### ASIDE #################### */
aside {
    background: #d5dbdf;
    height: 100%;
    display: block;
}
aside h4 {
    font-size: 24px;
}
aside p {
    margin: 20px 0;
}
aside h4 img {
    margin-right: 10px
}
aside a {
    font-size: 16px;
    background: #ee3a43;
    color: #fff;
    width: 100%;
    display: block;
    padding: 10px 0;
}
.sidebar {
    padding: 100px 0;
    border-bottom: 1px #000 solid; 
    height: 100%;
}
aside.padding-titre {
    padding-top: 50px;
    min-height: 1250px;
}
li#text-9 {
    padding-left: 15px;
}
.aside h3.titre {
    padding-left:0px!important;   
}
.sidebar-am {
    padding-top: 40px;
    text-transform: uppercase;
}
.sidebar-am h4 {
    font-size: 20px;
}
.date-index {
     padding-top: 135px;
     padding-left: 30px;
}
.border {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 35px;
}
aside.formation .border, aside.activite .border, aside.blog .border {
    padding-left: 0px;
    padding-right: 0px;
}
.aside {
    padding-left: 0px;
}
aside.formation .date, aside.activite .date, aside.blog .date {
    left: 0;
}
aside.formation .paragraphe, aside.activite .paragraphe, aside.blog .paragraphe {
    padding-left: 0px;
}
.padding-titre2 {
    padding-right: 75px;
    margin-left: 15px;
}
aside.activite {
    min-height: 1200px;
}
aside.activite h2 {
    margin-top: 75px;
    margin-left: -15px;
}
aside ul {
    padding: 0;
    margin: 0;
}
/* #################### PUBLICATIONS ET BLOGUE #################### */
#blog h6 {
    color: #455560;
}
/* Retire style par défauts des liens */
a:hover {
    text-decoration: none;
}
/* Header Blogue */
.background-img {
    position: relative;
}
.background-img img {
    background-size: 100%;
    padding-top: 120px; 
}
#header h1 {
    left: 0;
    position:absolute;
    text-align:center;
    top: calc(50% + 20px);
    width: 100%
}
p #publish_date{
    margin:5px 0 15px 0;
    padding:0;
    color: #3e3d3d;
}
.test p {
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}
/* Correction horizontal Scroll Bar */
#blog .row, #publications .row, #post .row {
    margin: 0;
}
/* Style des catégories des articles */
#post-type {
    margin-top: 50px;
}
#post-type ul{
    padding: 0;
}
#post-type ul li{
    display: block;
    float: left;
    font-size: 18px;
    width: 20%;
    background: #d5dbdf;
    font-family: 'Tauri', sans-serif;
}
#post-type.formations ul li{
    width:33.33%;
}
#post-type ul li a{
    display: block;
    color:#000;
    padding: 15px 0;
}
#post-type ul li a.current {
    background: #ee3a43;
    color: #fff;
}
#post-type ul li a:hover{
    color: #fff;
    background: #ee3a43;
}
#blog-single > div > div > div > div.col-xs-12.col-sm-12.col-md-10.col-lg-10.col-md-offset-1.test > p > img{
    margin:0 10px 10px 0;
    padding:0;
}
/* pour les singles */
#blog-single > div > div > div > div.col-xs-12.col-sm-12.col-md-10.col-lg-10.col-md-offset-1.test > p > a {
    color:#333;
}
#blog-single > div > div > div > div.col-xs-12.col-sm-12.col-md-10.col-lg-10.col-md-offset-1.test > p > a:hover {
    color:#ee3a43;
}
/* Select pour responsive */
#post-type select {
    margin-top: 145px;
    display: none;
    background: #d5dbdf;
    width: 100%;
    height: 55px;
    font-size: 18px;
    font-family: 'Tauri', sans-serif;
    padding-left: 15px;
    background-image:
    linear-gradient(45deg, transparent 50%, #fff 50%),
    linear-gradient(135deg, #fff 50%, transparent 50%),
    linear-gradient(to right, #ee3a43, #ee3a43);
    background-position:
    calc(100% - 27.5px),
    calc(100% - 22.5px),
    100% 0;
    background-size:
    5px 5px,
    5px 5px,
    55px 55px;
    background-repeat: no-repeat;
    border: none;
}
/* Navigation */
.pagination-fin {
    margin-bottom: 75px;
}
.pagination a, .pagination span{
    padding: 10px;
    background: #ee3a43;
    color: #fff;
    font-size: 16px;
    margin-top: 50px;
}
.pagination a:hover, .pagination span {
    background:#c6262d; 
}
/* Style des articles */
.article {
    padding: 50px 0;
    border-bottom: 1px #ee3a43 solid;
}
.article a {
    color: #ee3a43;
    font-size: 18px;
}
.article div{
    margin:0;
    padding:0;
}
.article div.infoarticle{
    margin:0;
    padding-left: 20px;
}
/* Postionnement pour img article */
.img-article {
    position: relative;
    overflow: hidden; 
}
.img-article img {
    float:clear;
}
/* Ruban pour display catégories */
.article .ruban {
    color: #fff;
    background: #ee3a43;
    position: absolute;
    top: 10%;
    width: 70%;
    padding: 5px 10px ;
    font-size: 15pt;
}
/* Ruban edit des class wp */
.article .ruban .post-categories {
    padding: 0;
    margin: 0;
}
.article .ruban .post-categories li {
    display: inline-block;
    color: #fff;
}
.article .ruban .post-categories li a{
    color: #fff!important;
    font-size: 15pt!important;
}
/* Style pour afficher date */
.date {
    position: absolute;
    bottom: 0;
    right: 0;
}
.square-box{
    position: relative;
    overflow: hidden;
}
.month-box {
    height: 20px;
    width: 85px;
    background: #ee3a43;
    border: 1px #ee3a43 solid;
}
.month-box .fa-circle {
    font-size: 5px;   
}
.day-box {
    height: 65px;
    width: 85px;
    background: #fff;
    border: 1px #ee3a43 solid;
}
.square-box:before{
    content: "";
    display: block;
    padding-top: 100%;
}
.square-content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.month-content {
    color: #fff;
    font-size: 12px;
    text-transform: capitalize;
}
.left-circle {
    position: absolute;
    top: 8px;
    left: 5px;
}
.right-circle {
    position: absolute;
    top: 8px;
    right: 5px;
}
.day-content {
    color: #000;
    font-size: 32px;
}
.square-content div {
   display: table;
   width: 100%;
   height: 100%;
}
.square-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
/* #################### FOOTER #################### */
/* Stylistique général du footer */
footer #footer-un {
    background: #3e3d3d;
    font-family: 'Tauri', sans-serif;
    padding: 100px 0;
    color: #ffffff;
    overflow:hidden;
}
/* Aligner le texte à droite */
footer #footer-un #footer-nav, footer #footer-un #infolettre, footer #footer-un #reseaux-sociaux{
    text-align: right;
}
/* Espace à gauche du logo */
footer #footer-un #img-footer{
    padding-left: 40px;
}
/* Espace à droite de la section réseaux sociaux */
footer #footer-un #reseaux-sociaux{
    padding-right: 40px;
}
/* Stylistique de la police */
footer #footer-un #reseaux-sociaux h5, 
footer #footer-un #infolettre h5 {
    font-size: 16px;
    margin:0 0 10px 0;
}
footer #footer-un p {
    font-size: 14px;
    margin: 15px 0;
}
/* Section du menu dans le footer */
footer #footer-un #footer-menu {
    margin:0;
    padding:0;
    text-transform: uppercase;
}
footer #footer-un #footer-menu li {
    display: block;
    font-size: 16px;
    margin: 0 0 15px 0;
}
/* Stylistique des liens */
footer #footer-un #footer-menu li a, 
footer #footer-un #social li a{
    text-decoration: none;
    color: #ffffff;
}
/* Couleur de la page en cours */
footer #footer-un #footer-menu .current a{
    color: #ee3a43;
}
/* Hover des éléments du footer */
footer #footer-un #footer-menu li a:hover, 
footer #footer-un #social li a:hover{
    color: #ee3a43;
}
/* Espace entre les icones des réseaux sociaux */
footer #footer-un #social li {
    display: inline-block;
    font-size: 18px;
    margin: 5px 0 0 5px;
}
/* Infolettre */
#form-infolettre input[type="email"]{
    color: #3e3d3d;
    text-align: right;
    padding: 5px 5px 5px 0px;
    width: 60%;
    outline: transparent;
}
#form-infolettre input[type="submit"]{
    background-color:transparent;
    margin: 10px 0 0 0;
    padding:0;
    outline: transparent;
    border: none;
}
#form-infolettre input[type="submit"]:hover{
  color: #ee3a43;
}
/* Footer partie du copyright */
footer #footer-deux{
    background-color: #ffffff;
    overflow:hidden;
}
footer #footer-deux h5 {
    color: #3e3d3d;
    font-size: 12px;
    text-align: right;
    padding-right: 25px;
    margin: 20px 0;
}
/* #################### FORMATION ET EVENEMENT #################### */
h3.event {
    margin-bottom: 50px;
    margin-top: 50px;
}
.enleve-padding {
    padding-right: 0px;
}
aside.formation {
    min-height: 2020px!important;
}
p.bouton{
font-size: 16px;
    background: #ee3a43;
    color: #fff;
    display: inline-block;
    padding: 10px 50px;
    margin-top: 40px;
}
p.bouton:hover {
    background: #c6262d;
    color: #fff;
}
#page-index > div.container-fluid > section.evenement > div > div > a.rouge{
    color: #ee3a43;
    font-size: 18px;
}
#blog .article a:hover, #page-index > div.container-fluid > section.evenement > div > div > a.rouge:hover {
    color: #c6262d;
    font-size: 18px;
}
/*** TOUTES LES PAGES DE LA CCIS ***/
/* Map */
#map{
    height: 100%;
    width: 100%;
}
#presentation-chambre iframe{
    padding: 20px 0 0 0;
}
/* Titre de la page - À propos */
#presentation-chambre h3{
    margin-top: 50px;
}
/* Image d'arrière-plan */
div.background-image{
    margin-top: 120px;
}
/* Grandeur du background de la sidebar page présentation de la chambre */
#presentation-chambre.ccis aside{
    height: 2000px;
}
/* Grandeur du background de la sidebar page comites organisation de la chambre */
#presentation-chambre.comites aside{
    min-height: 1800px;
}
/* Grandeur du background de la sidebar page implications */
#presentation-chambre.implications aside{
    min-height: 900px;
}
/* Grandeur du background de la sidebar page ca */
#presentation-chambre.ca aside{
    min-height: 2850px;
}
/* Style des liens de la page comités */
#presentation-chambre.comites a{
    color: #333;
}
#presentation-chambre.comites a:hover{
    color: #ee3a43;
}
/* Style des liens de la page espace-membre */
#presentation-chambre.espace-membre #margedroite > ul > li > a{
    text-decoration: none;
    color: #333;
}
#presentation-chambre.espace-membre #margedroite > ul > li > a:hover{
    color: #ee3a43;
}
/* Liens dans la sidebar */
#presentation-chambre div.menu-menu-ccis-container a{
    background-color: transparent;
    color:#455560;
    padding: 15px 40px 15px 0px;
    border-bottom: 1px solid #455560;
    text-align: right;
}
#presentation-chambre > div > div > aside > ul, #presentation-chambre > div > div > aside{
    margin:0;
    padding:0;
}
/* Liens dans la sidebar */
aside h2 {
    font-size: 24px;
}
#blog aside, #publications aside, #post aside {
    padding-top: 50px;
}
.widget ul {
    padding: 0;
    margin: 0;
}
.widget {
    margin-bottom: 100px;
}
.widget a:hover {
    background: #c6262d;
    color: #fff;
}
.widget, .widget li {
    display: block;
}
.widget li a {
    background: none;
    color: #ee3a43;
}
.widget li a:hover {
    background: none;
    color: #c6262d;
}
#presentation-chambre div.menu-menu-ccis-container a:hover{
    background-color: #ee3a43;
    color:#ffffff;
}
#presentation-chambre div.menu-menu-ccis-container, #nav_menu-3 {
    padding:0;
    list-style: none;
}
#nav_menu-3 div ul li{
    display:block;
}
#menu-menu-ccis{
    padding:0;
    margin:0;
}
/* Ajout d'un espace à droite et à gauche du contenu */
#margedroite, .devenezmembre{
    padding-right: 110px;
    margin-bottom: 50px;
}
#presentation-chambre{
    margin-left: 100px;
}
/* Enlever la scroll bar horizontal */
#presentation-chambre, #page-index{
    overflow:hidden;
}
/* Mettre le texte en gras */
#presentation-chambre p.gras, #presentation-chambre h5.gras{
    font-weight: bold;
}
/* Espace en haut des sections du texte */
#presentation-chambre h4.espaceenahut{
    margin-top: 40px;
}
#presentation-chambre h4.espaceenahut2{
    margin-top: 80px;
}
/* Espace en haut du bouton : En savoir plus */
#presentation-chambre p.espacebas{
    margin-bottom: 30px;
}
/* Bouton en savoir plus */
#presentation-chambre a#moreinfo, #wpcf7-f35-p5-o1 > form > p > input {
    background-color: #ee3a43;
    color: #ffffff;
    padding: 10px 50px;
    margin-bottom: 50px;
    border:none;
}
#presentation-chambre a#moreinfo:hover, #wpcf7-f35-p5-o1 > form > p > input:hover{
background-color: #c6262d;
}
#presentation-chambre h5.format {
    font-size: 17px;
    font-weight: bold;
    padding-top: 15px
}
#presentation-chambre h5.formatdeux {
    font-size: 15px;
    margin-bottom: 20px;
}
#presentation-chambre p a{
    color: #ee3a43;
}
/* Image des commanditaires */
#presentation-chambre div.partenaire {
    margin:0;
    padding:0;
    float: left;
}
#presentation-chambre div.partenaire img.partenaire{
    padding-right: 20px;
}
div.nousjoindre{
    margin:10px 0 0 0;
    padding:0;
}
div.marginpadding{
    margin:0;
    padding:0;
}
/* Formulaire de contact */
#wpcf7-f35-p5-o1 > div ul li{
    display: none;
}
#wpcf7-f35-p5-o1 > form > p > label > span > span {
    display:block;
    color: #ee3a43;
}
#wpcf7-f35-p5-o1 button, #wpcf7-f35-p5-o1 input[type=text], #wpcf7-f35-p5-o1 input[type=email],#wpcf7-f35-p5-o1 input[type=tel], #wpcf7-f35-p5-o1 select, #wpcf7-f35-p5-o1 textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 100%;
}
#wpcf7-f35-p5-o1 > form > div.wpcf7-response-output.wpcf7-validation-errors{
    display:none;
}
/* Formulaire 100% de large */
#wpcf7-f35-p5-o1 form p label {
    width:100%!important;
}
#wpcf7-f35-p5-o1 > form > p > label > span > textarea{
    border-color: #bfbfbf;
}

/* ########### Single.php ########### */
#blog-single {
    padding-top: 120px;
    margin-top: 50px;
}
#blog-single aside {
    margin-top: -50px;
    padding-top: 50px;
}

#blog-single .row{
    margin: 0;
}
#blog-single .ruban {
    width: 100%;
    background: #ee3a43;
    position: static;
    margin-bottom: 20px;
    margin-top: 80px;
    color: white;
    padding: 5px 10px;
    font-size:20px;
}

#blog-single .ruban ul{
    padding: 0;
    margin: 0;
}
#blog-single .ruban ul li{
    display: block;
    padding: 5px;
    font-size: 15pt;
}
#blog-single .wp-post-image {
    padding-left: 0!important;
    padding-bottom: 0;
    margin:0 10px 10px 0;
}
#blog-single .ruban ul li a{
    color: #fff;
}
#blog-single textarea {
    margin-bottom: 15px;
}
#blog-single .btn {
    background: #ee3a43;
    color: #fff;
    border-radius:0px;
    border-color: transparent;
    padding: 10px 50px;
}
#blog-single .btn:hover {
    background: #c6262d;
}
.previous-article, .next-article {
    color: #ee3a43;
    font-size: 18px;
    margin-top: 50px;
}
.previous-article:hover, .next-article:hover{
    color: #c6262d;
}
.previous-article a, .next-article a{
    color: #ee3a43;
}
.previous-article a:hover, .next-article a:hover{
    color: #c6262d;
}
#publish_date span {
    color: #ee3a43;
}
/* Enlever les contour arrondi  */
.form-control {
    border-radius:0px;
}
#blog-single .pager li {
    width: auto;
    margin-bottom: 15px;
}
#blog-single .pager li a {
    padding: 0;
}
#blog-single .pager li {
    margin-bottom: 70px;
}
/* ########### Galerie de photos ########### */
/* Enlever les espaces blancs */
.photos-presentation div{
    margin:0;
    padding:0;
}
.container {
    position: relative;
}
.middle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #c6262d;
}

.container:hover .middle {
    opacity: 0.7;
}
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* #################### RESPONSIVE #################### */
/* X-Small device */
@media (max-width: 767px){
    /* #################### LOGO #################### */
    a.logo img {
        background-color: white;
        width: 50%;
        margin-top: -50px;
    }
    .logo {
        background: none;
    }
    /* #################### MENU #################### */
    .navbar-nav{
        margin:0;
    }
    .navbar-default .navbar-toggle:focus{
        background-color:transparent;
    }
    .burger {
        margin-top: 0px;
        background-color: #ee3a43;
    }
    .enleve-border {
        min-height: 0px;
    }
    .navbar-header {
        padding-right: 25px;
    }
    .principal {
        background-color: #c6262d;
        padding-right: 0px;
    }
    #ccis{
        margin-top: 50px;
    }
    .navbar-default .navbar-nav.menu-principal>li>a:hover {
        color: #3e3d3d;
        background:transparent;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border: none;
    }
    .navbar-default {
        background: none;
    }
    #bs-example-navbar-collapse-1 {
        height: auto!important;
    }
    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
        max-height:none;
    }
    .menu-principal>li>a { 
        font-size:9pt;
        margin: 0;
        padding:0;
        text-align: center;
        height: 30px;
    }
    .nav>li>a {
        display: initial;
    }
    #bs-example-navbar-collapse-1{
        text-align:center;
        padding: 80px;
    }

    #bs-example-navbar-collapse-1 #menu-deroulant li{
        padding: 10px 0;
    }
    /*************** Menu déroulant *****************/
    #menu-deroulant li:hover ul {
        left: 0;
        background-color: rgba(198, 38, 45, 0.7);
        width: 100%;
        padding-left: 0;
        margin-left: 0;
        text-align: center;
        font-size: 8pt;
    }
    
    #menu-item-26:hover {
        margin-bottom: 130px;
    }   
    #menu-item-34 a{
        margin-right: 0%;
        display: block;
        margin-bottom: 20px;
        font-size: 10px;
    }
    #menu-item-32 a {
        margin-right: 0%;
        margin-bottom: 20px;
        display: block;
    }
    li#menu-item-34 {
        margin-top: 35px;
        padding-bottom: 0px;
        font-size: 10px;
    }
    #menu-item-26 a {
        margin-bottom: 20px;
    }
    #menu-item-32 {
        font-size: 10px;
    }
    #menu-item-60 {
        font-size: 10px;
    }
    #menu-item-33{
        font-size:10px;
    }
    #bs-example-navbar-collapse-1 #menu-item-26 li{
        padding:10px 0;
    }
/* Slider */
    img.un {
        display: none;
    }
    .carousel-caption {
        position: relative; 
        padding-bottom: 20px;
        padding-top: 50px;
        text-align: center;
        left: 0%;
    }
    .carousel-caption h2 {
        color:#3e3d3d;
    }
    .carousel-caption p {
        color:#3e3d3d;
    }
     /* Section evenement index */
     #index h2 {
        font-size: 15pt!important;
     }
     #index p {
        font-size: 12pt!important;
     }
     #index h3 {
        font-size: 18pt!important;
     }
    .texte {
        padding-left: 9%; 
        padding-right: 12%;
        width: 95%;
    }
    .image {
        padding-left: 9%;
    }
    .image .ruban {
        width: 40%!important;
    }
    .article a {
        font-size: 17px;
    }
    /* Section devenir membre index */
    img.fond {
        height: 100%;
        width:100%;
    }
    .devenir-membre h2 {
        padding-top: 0px;
        text-align: center;
        font-size: 16px;
    }
    .image-2 {
        padding-top: 50px;
    }
    /* Section partenaires index */
    img.partn {
        width: 85%;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .bouton-partn p {
        padding-left: 6.5%;
    }
    /* #################### PUBLICATIONS ET BLOGUE #################### */
    ul#responsive-pub{
        margin-top: 100px !important;
    }
    /* Change la liste des post type */
    #post-type ul li{
        float: none;
        width: 100%;
    }
    /*Remove Sidebar*/
    aside {
        display: none;
    }
    /*Hide liste des catégories*/
    #post-type ul {
        display: none;
    }
    /* Espace en haut de la navigation des pages*/
    ul.margintop{
        margin-top:100px;
    }
    /*Display select box*/
    #post-type select {
        display: block;
    }
    .article h4 {
        margin-top: 50px; 
    }
    /* Style des articles */
    #blog .article div{
        margin:0;
        padding:0;
    }
    #blog .article div.infoarticle{
        margin:0;
        padding-left: 0px;
    }
/* #################### SECTION ÉVÉNEMENTS #################### */
    .premiertruc {
        padding-top: 50px;
    }
    .paragraphe {
        padding-top: 0px;
        margin-top:0px;
    }
    h3.espacedessous{
        margin-bottom:0px;
        padding:10px 0;
    }
    p.inscription2 {
        padding-top: 30px;
        color: #ee3a43;
        font-size: 20px!important;
    }
    p.inscription {
        padding-top: 15px;
        color: #ee3a43;
        font-size: 20px!important;
    }
    p.inscription2:hover, p.inscription:hover {
        color: #3e3d3d;
    }
    .image .ruban {
        color: #fff;
        background: #ee3a43;
        position: absolute;
        top: 20%;
        width: 50%;
        padding: 10px 15px ;
        font-size: 15pt;
    }
    .article .ruban {
        width: 100%;
        top: 0;
    }
    #blog-single {
        padding-top: 0px; 
        margin-top: 50px;
    }
    /* #################### PAGE À PROPOS #################### */
    /* Titre de la page */
    #presentation-chambre h3{
        padding-top: 80px;
    }
    #presentation-chambre div.devenezmembre{
        margin-bottom: 75px;
    }
    /* PAGE DE LA CCIS */
    /* Ajout d'un espace à droite et à gauche du contenu */
    #margedroite, .devenezmembre{
        padding-right: 25px;
        margin-bottom: 50px;
    }
    #presentation-chambre{
        margin-left: 15px;
    }
    /* #################### FOOTER #################### */
    /* Aligner les textes au centre */
    footer #footer-un, 
    footer #footer-un #footer-nav, 
    footer #footer-un #infolettre, 
    footer #footer-un #reseaux-sociaux{
        text-align: center;
    }
    /* Enlever les espaces de trop à droite et à gauche */
    footer #footer-un #img-footer, footer #footer-un #reseaux-sociaux{
        padding: 0;
    }
    footer #footer-un #footer-menu, footer #footer-un #infolettre, footer #footer-un #reseaux-sociaux {
        margin-top: 40px;
    }
    /* Centrer les icones des réseaux sociaux */
    footer #footer-un #reseaux-sociaux ul#social{
        margin:0;
        padding:0;
    }
    footer #footer-un #reseaux-sociaux ul#social li{
        margin: 0 5px 0 0;
    }
    /* Copyright à center */
    footer #footer-deux h5 {
        text-align: center;
        padding-right: 0;
    }
    /* Infolettre à centrer */
    #form-infolettre input[type="email"]{
        padding: 5px 0px 5px 0px;
        text-align: center;
        width: 50%;
    }
    /* Stylistique de la police */
    footer #footer-un #reseaux-sociaux h5, 
    footer #footer-un #infolettre h5,
    footer #footer-un #footer-menu li,
    #form-infolettre input[type="email"],
    #form-infolettre input[type="submit"] {
        font-size: 9pt;
    }
    footer #footer-un p {
        font-size: 8pt;
    }
}
/* Small device */
@media screen and (min-width: 768px) and (max-width: 992px){
    /* Titre des pages */
    h1 {
        font-size: 16px;
    }
    /* #################### Menu #################### */
    .contact>li>a { 
        font-size:5pt;
    }
    .menu-principal>li>a {
        font-size:6pt;
        width: 100%;
        text-align: center;
        padding-left: 16px;
        padding-right: 16px;
    }
    #menu-deroulant, #menu-deroulant ul {
        font-size: 6pt;
    }
    a.logo img {
        width: 120%;
        background-color: white;
    }
    #menu-item-32 {
    margin-top: -48px!important;
    }
     /* #################### SLIDER #################### */
    .tp-parallax-wrap {
        left:18%!important;
    }
    .tp-caption.tp-resizeme h2 {
        font-size: 28px!important;
    } 
    .tp-caption.tp-resizeme p {
        font-size: 20px!important;
    } 
    .image-1 p {
    padding-bottom: 15px; 
    }
    /* #################### PUBLICATION INDEX #################### */
    .texte {
        padding-left: 5%;
        padding-right: 5%;
    }
    .image .ruban {
        width: 40%;
    }
    .article .ruban {
        width: 50%;
    }
    /* #################### SIDEBAR INDEX #################### */
    aside .date {
        left:9%;
    }
    .sidebar-am h4 {
        padding-left: 4%;
    }
    #index aside p {
        padding-left: 4%;
    }
    /* #################### DEVENIR MEMBRE INDEX #################### */
        img.fond {
        height: 100%;
        width:100%;
    }
    .devenir-membre h2 {
        padding-top: 15px;
        font-size: 18px;    
    }
    .image-2 {
        padding-top: 50px;
    }
    /* #################### PARTENAIRES INDEX #################### */
    img.partn {
        width: 85%;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .bouton-partn p {
        padding-left: 6.5%;
        margin-top: 15px;
    }
    .cult-shawi {
        margin-top: -75%;
    }
    /* #################### PAGE À PROPOS #################### */
    #presentation-chambre div.devenezmembre{
        margin-bottom: 200px;
    }
    /* PAGE DE LA CCIS */
    /* Ajout d'un espace à droite et à gauche du contenu */
    #margedroite, .devenezmembre{
        padding-right: 50px;
    }
    #presentation-chambre{
        margin-left: 50px;
    }
    /* #################### PUBLICATIONS ET BLOGUE #################### */
    /*Correction fonts*/
    #post-type ul li{
        font-size: 14px;
    }
    #header h1 {
        top: calc(50% + 32px);
    }

    /* Style des articles */
    .article div{
        margin:0;
    }
    .article div.infoarticle{
        margin:0;
    }
    /* #################### FOOTER #################### */
    /* Infolettre */
    #form-infolettre input[type="email"]{
        width: 90%;
    }
    /* Stylistique de la police */
    footer #footer-un #reseaux-sociaux h5, 
    footer #footer-un #infolettre h5,
    footer #footer-un #footer-menu li,
    #form-infolettre input[type="email"],
    #form-infolettre input[type="submit"] {
        font-size: 7pt;
    }
    footer #footer-un p {
        font-size: 6pt;
    }
}
/* Medium device */
@media screen and (min-width: 992px) and (max-width: 1200px){
    /* Titre des pages */
    h1 {
        font-size: 20px;
    }
    /* #################### Menu #################### */
    .contact>li>a { 
        font-size:7pt;
    }
    .menu-principal>li>a {
        font-size:7pt;
        width: 100%;
        text-align: center;
        padding-left: 25px;
        padding-right: 25px;
    }
    a.logo img {
        width: 120%;
        background-color: white;
    }
     .contact>li>a { 
        font-size:7pt;
    }

    #menu-deroulant, #menu-deroulant ul {
        font-size: 7pt;
        margin-right: -20px;
    }
    a.logo img {
        width: 120%;
        background-color: white;
    }
    #menu-item-32 {
    margin-top: -51px!important;
    }
    /* #################### SLIDER #################### */
    .tp-parallax-wrap {
        left:20%!important;
    }
    .tp-caption.tp-resizeme h2 {
        font-size: 22px!important;
    } 
    .tp-caption.tp-resizeme p {
        font-size: 18px!important;
    } 
    .image-1 p {
    padding-bottom: 15px; 
    }
    /* #################### EVENEMENT #################### */
    .image {
        padding-top: 10%; 
        padding-left: 0px;
    }
    .image .ruban {
        top:42%;
    }
    .col-md-3 {
    width: 24%;
    }
    .article a {
        font-size: 14px;
    }
    /* #################### PUBLICATION ET BLOGUE INDEX #################### */
    .image .ruban {
        padding: 0px;
        width: 45%;
        top: 25%;
    }
    .article .ruban {
        width: 66%;
    }
    .sidebar-am {
    padding-left: 15px;
    }
    /* #################### DEVENIR MEMBRE INDEX #################### */
    .devenir-membre h2 {
        padding-top: 15px;
        font-size: 18px;    
    }
    .devenir-membre {
        min-height: 300px;
    }
    a.bouton {
        width: 46%;
    }
     /* #################### SIDEBAR INDEX #################### */
    aside .date {
        left:32%;
    }
    .sidebar-am h4 {
        padding-left: 0%;
    }
    /* Grosseur des polices dans la sidebar */
    aside h2 {
        font-size: 20px;
    }
    /* PAGE DE LA CCIS */
    /* Grandeur du background de la sidebar page présentation de la chambre */
    #presentation-chambre.ccis aside{
        height: 2400px;
    }

    /* Grandeur du background de la sidebar page comites organisation de la chambre */
    #presentation-chambre.comites aside{
        min-height: 1950px;
    }

    /* Grandeur du background de la sidebar page implications */
    #presentation-chambre.implications aside{
        min-height: 900px;
    }

    /* Grandeur du background de la sidebar page ca */
    #presentation-chambre.ca aside{
        min-height: 2600px;
    }
    /* Side bar */
    /* Liens dans la sidebar */
    #presentation-chambre div.menu-menu-ccis-container a{
        padding: 15px 20px 15px 0px;
    }
    /* #################### PUBLICATIONS ET BLOGUE #################### */
    /*Correction fonts*/
    #post-type ul li{
        font-size: 14px;
    }
    #header h1 {
        top: calc(50% + 32px);
    }
    /* #################### Footer #################### */
    /* Stylistique de la police */
    footer #footer-un #reseaux-sociaux h5, 
    footer #footer-un #infolettre h5,
    footer #footer-un #footer-menu li,
    #form-infolettre input[type="email"],
    #form-infolettre input[type="submit"] {
        font-size: 7pt;
    }
    footer #footer-un p {
        font-size: 7pt;
    }
}
/* Large device */
@media screen and (min-width: 1201px) and (max-width: 1600px)  {
    /* #################### Menu #################### */
    .menu-principal>li>a {
         font-size: 10pt;  
         width: 100%;
         text-align: center;
         padding-left: 30px;
         padding-right: 30px;
    }
    #menu-item-32 {
        margin-top: -51px!important;
    }
    #menu-deroulant, #menu-deroulant ul {
        font-size: 7pt;
        margin-right: -27px;
    }  
    /* #################### SLIDER #################### */
    .tp-parallax-wrap {
        left:18%!important;
    }
    .tp-caption.tp-resizeme h2 {
        font-size: 22px!important;
    } 
    .tp-caption.tp-resizeme p {
        font-size: 18px!important;
    } 
    .image-1 p {
    padding-bottom: 15px; 
    }
    /* #################### EVENEMENT #################### */
    .image {
        padding-top: 8%; 
        padding-left: 0px;
    }
    .image .ruban {
        top:30%;
    }

    .image .ruban {
        width: 44%;
        top: 32%;
    }
    /* #################### SIDEBAR INDEX #################### */
    aside .date {
        left:32%;
    }
    .sidebar-am h4 {
        padding-left: 0%;
        padding-right: 8%;
    }
    .paragraphe {
           padding-right: 8%;
    }
    /* Grosseur des polices dans la sidebar */
    aside h2 {
        font-size: 20px;
    }
     /* #################### DEVENIR MEMBRE INDEX #################### */
    .devenir-membre h2 {
        padding-top: 7%;
    }
    .devenir-membre {
        min-height:300px;
        margin-bottom: 10%;
    }
    a.bouton {
        width: 75%;
    }
    .sidebar-am {
    padding-left: 25px;
    }
    /* #################### PARTENAIRES #################### */
    .partenaire {
        padding-top: 0px;
    }
    /* PAGE DE LA CCIS */
    /* Grandeur du background de la sidebar page présentation de la chambre */
    #presentation-chambre.ccis aside{
        height: 2200px;
    }

    /* Grandeur du background de la sidebar page comites organisation de la chambre */
    #presentation-chambre.comites aside{
        min-height: 1900px;
    }

    /* Grandeur du background de la sidebar page implications */
    #presentation-chambre.implications aside{
        min-height: 900px;
    }

    /* Grandeur du background de la sidebar page ca */
    #presentation-chambre.ca aside{
        min-height: 2700px;
    }

    img.fond {
        margin-top: 40px;
    }
    /* #################### Footer #################### */
    /* Stylistique de la police */
    footer #footer-un #reseaux-sociaux h5, 
    footer #footer-un #infolettre h5,
    footer #footer-un #footer-menu li {
        font-size: 10pt;
    }
}
/* X-Large device */
@media screen and (min-width: 1601px) and ( max-width: 1701px ) {
    /* #################### Menu #################### */
    .menu-principal>li>a {
        font-size: 10pt;
        width: 100%;
        text-align: center;
        padding-left: 50px;
        padding-right: 50px;
    }
    #menu-deroulant, #menu-deroulant ul {
        font-size: 9pt;
        margin-right: -50px;
    }
    img.fond {
        margin-top: 40px;
    }
    /* Grosseur des polices dans la sidebar */
    aside h2 {
        font-size: 20px;
    }
    /*####################### slider ############################*/
    .tp-parallax-wrap {
        left:16%!important;
    }
    #blog aside, #publications aside {
        padding-top: 50px;
        min-height: 3000px;
    }
}
/* XX-Large device */
@media screen and (min-width: 1702px) and ( max-width: 4000px) {
    /* #################### Menu #################### */
    .menu-principal>li>a {
        font-size: 11pt;
        width: 100%;
        text-align: center;
        padding-left: 50px;
        padding-right: 50px;
    }
    #menu-deroulant, #menu-deroulant ul {
        font-size: 9pt;
        margin-right: -50px;
    }
    #loupe{
        margin-right:20px;
    }
    .partenaire {
        margin-top: 150px;
    } 
    #blog aside, #publications aside {
        padding-top: 50px;
        min-height: 4000px;
    }
    aside.formation {
        min-height: 2100px!important;
    }
    aside.activite {
        min-height: 2200px;
    }
}